Repository TryGhost/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @johnonolan, @kymellis, @peterzimon, @aileencgn

🚚 Moved PostHeader to common components
  src/components/common/PostHeader.js
  src/components/common/index.js
  src/templates/markdown/post.js
Owners: @aileencgn

♻️ Outsourced sidebarfile require fn into its own util
  src/components/common/sidebar/SidebarNav.js
  src/components/common/sidebar/getSidebarFile.js
  src/components/common/sidebar/index.js
  src/templates/markdown/post.js
Owners: @aileencgn

🎨 Typechecking for PrevNextSection in post template + small improvements
  src/templates/markdown/post.js
Owners: @aileencgn

🚚 Moved PrevNext & PrevNextSection into own component folder
  src/components/common/index.js
  src/components/common/prev-next/PrevNext.js
  src/components/common/prev-next/PrevNextSection.js
  src/components/common/prev-next/index.js
  src/templates/markdown/post.js
Owners: @aileencgn

🎨 Renamed DocTemplate to Post + code improvements
  src/templates/markdown/post.js
Owners: @aileencgn

🚚 Moved fork.gif from static to content images
  content/images/setup/fork.gif
  content/install/source.md
Owners: @kymellis, @johnonolan

🚚 Moved content images out of static folder
  content/concepts/tags.md
  content/concepts/users.md
  content/images/concepts/author-archive.jpg
  content/images/concepts/tag-archive.jpg
Owners: @kymellis, @johnonolan

🚚 Moved getRelatedPosts fn to utils
  gatsby/createPages.js
  utils/getRelatedPosts.js
Owners: @aileencgn

Typo
  content/concepts/pages.md
Owners: @kymellis, @johnonolan

Update config.md
  content/concepts/config.md
Owners: @kymellis, @johnonolan

Fixed typo
  content/install/local.md
Owners: @kymellis, @johnonolan

Use browser safe JS
  gatsby/onRouteUpdate.js
Owners: @aileencgn

Meta data refinements
  src/pages/integrations.js
  src/pages/tutorials.js
Owners: @aileencgn

🐛 Fix broken build due to wrong functin name
  src/pages/integrations.js
Owners: @aileencgn

Fix typo
  content/concepts/server-recommendations.md
Owners: @kymellis, @johnonolan

Fix typo
  content/concepts/posts.md
Owners: @kymellis, @johnonolan

🎉 Inital fake plugin + first structure
  gatsby-config.js
  plugins/gatsby-ghost-relatedposts/package.json
  plugins/gatsby-ghost-relatedposts/src/extend-node-type.js
  plugins/gatsby-ghost-relatedposts/src/gatsby-node.js
Owners: @aileencgn, @johnonolan

🎉 Run the plugin with setFieldsOnGraphQLNodeType method
  plugins/gatsby-ghost-relatedposts/extend-node-type.js
  plugins/gatsby-ghost-relatedposts/gatsby-node.js
  plugins/gatsby-ghost-relatedposts/index.js
  plugins/gatsby-ghost-relatedposts/package.json
  plugins/gatsby-ghost-relatedposts/src/extend-node-type.js
Owners: @aileencgn, @johnonolan

Fix table horizontal scrolls
  src/styles/post-content.css
Owners: @peterzimon, @johnonolan

Update theme dev docs
  content/install/local.md
Owners: @kymellis, @johnonolan

update local.md
  content/install/local.md
Owners: @kymellis, @johnonolan

Fix whitespace bug (#52)
  content/install/local.md
Owners: @kymellis, @johnonolan

🐛 Fixed wrong image reference
  content/install/source.md
  static/images/setup/fork.gif
Owners: @kymellis, @johnonolan

🎨 Proptypes checks improvements tutorial template
  src/templates/ghost/tutorial.js
Owners: @aileencgn

🔥 Removed unneded proptype from Layout
  src/components/common/layout/Layout.js
Owners: @aileencgn

🎨 Use tag-utils in ArticleMetaGhost
  src/components/common/meta/ArticleMetaGhost.js
Owners: @aileencgn

📝 Tag utils descriptions and little improvements
  src/components/common/Tags.js
  src/utils/tag-utils.js
Owners: @aileencgn

Fix FAQ content width issue
  src/styles/post-content.css
Owners: @peterzimon, @johnonolan

Update line height for FAQ/related questions
  src/components/common/RelatedPosts.js
Owners: @aileencgn

Fix FAQ content width issue
  src/styles/post-content.css
Owners: @peterzimon, @johnonolan

Update line height for FAQ/related questions
  src/components/common/RelatedPosts.js
Owners: @aileencgn

Fix section heading and subheading bugs
  src/components/integrations/IntegrationsContent.js
  src/styles/spirit-styles.js
Owners: @aileencgn

Responsive images docs
  src/data/sidebars/handlebars.yaml
Owners: @johnonolan

Typo Fix
  content/concepts/features.md
Owners: @kymellis, @johnonolan

Typo Fix
  content/concepts/contributing.md
Owners: @kymellis, @johnonolan

Typo Fixes (#54)
  content/concepts/contributing.md
  content/concepts/features.md
Owners: @kymellis, @johnonolan

2019
  LICENSE
  README.md
Owners: @johnonolan

Remove Content API redirects
  gatsby/createPages.js
  static/_redirects
Owners: @aileencgn, @johnonolan

Wiring up new API content sections
  src/pages/api.js
Owners: @aileencgn

Updated API versioning docs to point to new FAQ
  content/concepts/core.md
Owners: @kymellis, @johnonolan

.github/CODEOWNERS:

*           @johnonolan
/content/   @kymellis @johnonolan
*.css       @peterzimon @johnonolan
*.js        @aileencgn
