Repository TryGhost/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @johnonolan, @kymellis, @peterzimon, @aileencgn

🔥 Cypress example tests
  cypress.json
  cypress/fixtures/example.json
  cypress/integration/examples/actions.spec.js
  cypress/integration/examples/aliasing.spec.js
  cypress/integration/examples/assertions.spec.js
  cypress/integration/examples/connectors.spec.js
  cypress/integration/examples/cookies.spec.js
  cypress/integration/examples/cypress_api.spec.js
  cypress/integration/examples/files.spec.js
  cypress/integration/examples/local_storage.spec.js
  cypress/integration/examples/location.spec.js
  cypress/integration/examples/misc.spec.js
  cypress/integration/examples/navigation.spec.js
  cypress/integration/examples/network_requests.spec.js
  cypress/integration/examples/querying.spec.js
  cypress/integration/examples/spies_stubs_clocks.spec.js
  cypress/integration/examples/traversal.spec.js
  cypress/integration/examples/utilities.spec.js
  cypress/integration/examples/viewport.spec.js
  cypress/integration/examples/waiting.spec.js
  cypress/integration/examples/window.spec.js
  cypress/plugins/index.js
  cypress/support/commands.js
  cypress/support/index.js
  package.json
Owners: @johnonolan, @aileencgn

🚨 Used `babel-eslint` parser for tests
  test/.eslintrc.js
Owners: @aileencgn

🚨 Added `cy` to eslint globals for tests
  test/.eslintrc.js
Owners: @aileencgn

🎨 Move `/cypress` to `/test/cypress`
  test/cypress/fixtures/example.json
  test/cypress/integration/examples/actions.spec.js
  test/cypress/integration/examples/aliasing.spec.js
  test/cypress/integration/examples/assertions.spec.js
  test/cypress/integration/examples/connectors.spec.js
  test/cypress/integration/examples/cookies.spec.js
  test/cypress/integration/examples/cypress_api.spec.js
  test/cypress/integration/examples/files.spec.js
  test/cypress/integration/examples/local_storage.spec.js
  test/cypress/integration/examples/location.spec.js
  test/cypress/integration/examples/misc.spec.js
  test/cypress/integration/examples/navigation.spec.js
  test/cypress/integration/examples/network_requests.spec.js
  test/cypress/integration/examples/querying.spec.js
  test/cypress/integration/examples/spies_stubs_clocks.spec.js
  test/cypress/integration/examples/traversal.spec.js
  test/cypress/integration/examples/utilities.spec.js
  test/cypress/integration/examples/viewport.spec.js
  test/cypress/integration/examples/waiting.spec.js
  test/cypress/integration/examples/window.spec.js
  test/cypress/plugins/index.js
  test/cypress/support/commands.js
  test/cypress/support/index.js
Owners: @johnonolan, @aileencgn

➕ Added Cypress
  package.json
  yarn.lock
Owners: @johnonolan

🔧 Switch video creation off in Cypress
  cypress.json
Owners: @johnonolan

➕ Adding cypress-testing-library
  package.json
  yarn.lock
Owners: @johnonolan

🙈 Added Cypress video and screenshot folders to `.gitignore`
  .gitignore
Owners: @johnonolan

✅ Rename general -> home spec and add concepts
  test/cypress/integration/concepts.spec.js
  test/cypress/integration/home.spec.js
Owners: @aileencgn

🚚 Move all specs into one ⚡ / Rename `/integration/` to `/e2e`
  cypress.json
  package.json
  test/cypress/e2e/general.spec.js
  test/cypress/fixtures/example.json
  test/cypress/integration/concepts.spec.js
  test/cypress/integration/home.spec.js
  test/cypress/integration/integrations.spec.js
Owners: @johnonolan, @aileencgn

🚨 Fixed linting issues
  src/utils/tag-utils.js
  test/cypress/plugins/index.js
Owners: @aileencgn

🎨 Import cypress testing library so we can use it
  test/cypress/support/commands.js
Owners: @aileencgn

🚨 Added global vars to .eslintrc in tests
  test/.eslintrc.js
Owners: @aileencgn

✅ Concepts tests
  src/components/global/navigation-sidebar.js
  src/components/layouts/partials/navbar.js
  src/components/layouts/partials/toc.js
  test/cypress/integration/concepts.spec.js
Owners: @aileencgn

✅ Home search modal tests
  src/components/global/icon.js
  src/components/global/search-modal.js
  test/cypress/integration/home.spec.js
Owners: @aileencgn

✅ First general test with Cypress
  test/cypress/support/index.js
Owners: @aileencgn

✅ Integrations tests
  src/components/integrations-content.js
  src/components/layouts/partials/integrations-taglist.js
  test/cypress/integration/integrations.spec.js
Owners: @aileencgn

📝 Update contributing file to include testing
  .github/CONTRIBUTING.md
Owners: @johnonolan

✅ Basic search modal tests
  src/components/search.js
  test/cypress/e2e/general.spec.js
Owners: @aileencgn

🔥 Remove example test
  test/hello.test.js
Owners: @aileencgn

🙈 Added Cypress video and screenshot folders to `.gitignore`
  .gitignore
Owners: @johnonolan

🚨 Used `babel-eslint` parser for tests
  test/.eslintrc.js
Owners: @aileencgn

➕ Adding cypress-testing-library
  package.json
  yarn.lock
Owners: @johnonolan

🎨 Import cypress testing library so we can use it
  test/cypress/support/commands.js
Owners: @aileencgn

🚨 Added global vars to .eslintrc in tests
  test/.eslintrc.js
Owners: @aileencgn

🔧 Switch video creation off in Cypress
  cypress.json
Owners: @johnonolan

🔥 Cypress example tests
  cypress.json
  cypress/fixtures/example.json
  cypress/integration/examples/actions.spec.js
  cypress/integration/examples/aliasing.spec.js
  cypress/integration/examples/assertions.spec.js
  cypress/integration/examples/connectors.spec.js
  cypress/integration/examples/cookies.spec.js
  cypress/integration/examples/cypress_api.spec.js
  cypress/integration/examples/files.spec.js
  cypress/integration/examples/local_storage.spec.js
  cypress/integration/examples/location.spec.js
  cypress/integration/examples/misc.spec.js
  cypress/integration/examples/navigation.spec.js
  cypress/integration/examples/network_requests.spec.js
  cypress/integration/examples/querying.spec.js
  cypress/integration/examples/spies_stubs_clocks.spec.js
  cypress/integration/examples/traversal.spec.js
  cypress/integration/examples/utilities.spec.js
  cypress/integration/examples/viewport.spec.js
  cypress/integration/examples/waiting.spec.js
  cypress/integration/examples/window.spec.js
  cypress/plugins/index.js
  cypress/support/commands.js
  cypress/support/index.js
  package.json
Owners: @johnonolan, @aileencgn

✅ Basic search modal tests
  src/components/search.js
  test/cypress/e2e/general.spec.js
Owners: @aileencgn

✅ Rename general -> home spec and add concepts
  test/cypress/integration/concepts.spec.js
  test/cypress/integration/home.spec.js
Owners: @aileencgn

🔥 Remove example test
  test/hello.test.js
Owners: @aileencgn

🎨 Move `/cypress` to `/test/cypress`
  test/cypress/fixtures/example.json
  test/cypress/integration/examples/actions.spec.js
  test/cypress/integration/examples/aliasing.spec.js
  test/cypress/integration/examples/assertions.spec.js
  test/cypress/integration/examples/connectors.spec.js
  test/cypress/integration/examples/cookies.spec.js
  test/cypress/integration/examples/cypress_api.spec.js
  test/cypress/integration/examples/files.spec.js
  test/cypress/integration/examples/local_storage.spec.js
  test/cypress/integration/examples/location.spec.js
  test/cypress/integration/examples/misc.spec.js
  test/cypress/integration/examples/navigation.spec.js
  test/cypress/integration/examples/network_requests.spec.js
  test/cypress/integration/examples/querying.spec.js
  test/cypress/integration/examples/spies_stubs_clocks.spec.js
  test/cypress/integration/examples/traversal.spec.js
  test/cypress/integration/examples/utilities.spec.js
  test/cypress/integration/examples/viewport.spec.js
  test/cypress/integration/examples/waiting.spec.js
  test/cypress/integration/examples/window.spec.js
  test/cypress/plugins/index.js
  test/cypress/support/commands.js
  test/cypress/support/index.js
Owners: @johnonolan, @aileencgn

✅ Integrations tests
  src/components/integrations-content.js
  src/components/layouts/partials/integrations-taglist.js
  test/cypress/integration/integrations.spec.js
Owners: @aileencgn

✅ Home search modal tests
  src/components/global/icon.js
  src/components/global/search-modal.js
  test/cypress/integration/home.spec.js
Owners: @aileencgn

📝 Update contributing file to include testing
  .github/CONTRIBUTING.md
Owners: @johnonolan

✅ First general test with Cypress
  test/cypress/support/index.js
Owners: @aileencgn

✅ Concepts tests
  src/components/global/navigation-sidebar.js
  src/components/layouts/partials/navbar.js
  src/components/layouts/partials/toc.js
  test/cypress/integration/concepts.spec.js
Owners: @aileencgn

🚨 Fixed linting issues
  src/utils/tag-utils.js
  test/cypress/plugins/index.js
Owners: @aileencgn

🚨 Added `cy` to eslint globals for tests
  test/.eslintrc.js
Owners: @aileencgn

➕ Added Cypress
  package.json
  yarn.lock
Owners: @johnonolan

🚚 Move all specs into one ⚡ / Rename `/integration/` to `/e2e`
  cypress.json
  package.json
  test/cypress/e2e/general.spec.js
  test/cypress/fixtures/example.json
  test/cypress/integration/concepts.spec.js
  test/cypress/integration/home.spec.js
  test/cypress/integration/integrations.spec.js
Owners: @johnonolan, @aileencgn

.github/CODEOWNERS:

*           @johnonolan
/content/   @kymellis @johnonolan
*.css       @peterzimon @johnonolan
*.js        @aileencgn
