Repository TryGhost/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @johnonolan, @kymellis, @peterzimon, @aileencgn

Quick fix for links above headings in integrations and tutorials
  src/styles/post-content.css
Owners: @peterzimon, @johnonolan

🎨 Small improvements for 404 page
  src/pages/404.js
Owners: @aileencgn

🎨 Removed binding `sortBy` in constructor for IntegrationsContent
  src/components/integrations/IntegrationsContent.js
Owners: @aileencgn

♻️ Refactor APIPage as stateless component and remove APISection component
  src/pages/api.js
Owners: @aileencgn

🚚 Renamed api specific Card to APICard and moved to compoenents
  src/components/api/APICard.js
  src/components/api/index.js
  src/pages/api.js
Owners: @aileencgn

Fix typos in routing.md
  content/concepts/routing.md
Owners: @kymellis, @johnonolan

🎨 More generic usage of FAQLink and used it in faq page
  src/components/faq/FAQLink.js
  src/pages/faq.js
Owners: @aileencgn

♻️ Refactor FAQPage as stateless component
  src/pages/faq.js
Owners: @aileencgn

🎨 Updated attribute order in FAQLink
  src/components/faq/FAQLink.js
Owners: @aileencgn

♻️ Refactor index.js as stateless component and rename to HomePage
  src/pages/index.js
Owners: @aileencgn

🚚 Outsourced HomeAPIBox to home components
  src/components/home/HomeAPIBox.js
  src/components/home/index.js
  src/pages/index.js
Owners: @aileencgn

🚚 Outsourced HomeFAQLink to home components
  src/components/home/HomeFAQLink.js
  src/components/home/index.js
  src/pages/index.js
Owners: @aileencgn

♻️ Refactor IntegrationsPage as stateless component
  src/pages/integrations.js
Owners: @aileencgn

📝 Fixed little commenting typos
  src/pages/index.js
  src/pages/integrations.js
Owners: @aileencgn

♻️ Refactored SetupIndexPage as stateless component and renamed to SetupPage
  src/pages/setup.js
Owners: @aileencgn

🚚 Outsourced SetupBox to setup components
  src/components/setup/SetupBox.js
  src/components/setup/index.js
  src/pages/setup.js
Owners: @aileencgn

♻️ Refactor TutorialsPage as stateless component
  src/pages/tutorials.js
Owners: @aileencgn

♻️ Refactor FAQTags page as stateless component
  src/templates/ghost/faq-archive.js
Owners: @aileencgn

🎨 Typechecking for faq template + small improvements
  src/templates/ghost/faq.js
Owners: @aileencgn

♻️ Refactor IntegrationsTags as stateless component
  src/templates/ghost/faq-archive.js
  src/templates/ghost/integration-archive.js
Owners: @aileencgn

🐛 Fixed wrong var assignment
  src/templates/ghost/faq-archive.js
Owners: @aileencgn

🎨 Typechecking for integrations template + small improvements
  src/templates/ghost/integration.js
Owners: @aileencgn

🎨 Small code improvement for tutorial template
  src/templates/ghost/tutorial.js
Owners: @aileencgn

🐛 Fixed wrong prop-type declaration
  src/templates/ghost/integration.js
Owners: @aileencgn

More reliable source cloning
  content/install/source.md
Owners: @kymellis, @johnonolan

♻️ Refactor TutorialsTags as stateless component
  src/templates/ghost/tutorial-archive.js
Owners: @aileencgn

🎨 Tiny improvements for sidebar functionality in post.js
  src/components/common/sidebar/SidebarNav.js
  src/templates/markdown/post.js
Owners: @aileencgn

🔧 Changed order of remark plugin as recommended
  gatsby-config.js
Owners: @aileencgn

🎨 Don't rely on keywords being passed in ArticleMetaMD
  src/components/common/meta/ArticleMetaMD.js
Owners: @aileencgn

🎨 Small code improvements for post template
  src/templates/markdown/post.js
Owners: @aileencgn

🎨 More small improvements for post template
  src/templates/markdown/post.js
Owners: @aileencgn

🐛 Fixed wrong PropTypes in integration template
  src/templates/ghost/integration.js
Owners: @aileencgn

🏗♻️ utsource PageHeader logic to utils and rename to getPostHeaderConfig
  src/templates/markdown/post.js
  src/utils/getPostHeaderConfig.js
Owners: @aileencgn

⬆️ Update start-server-and-test to 1.7.11
  package.json
  yarn.lock
Owners: @johnonolan

⬆️ Updated dev-dependencies
  package.json
  yarn.lock
Owners: @johnonolan

➖ Removed react-google-recaptcha dep and 🔧 config vars
  .env.example
  package.json
  yarn.lock
Owners: @johnonolan

⬆️ Updated gatsby-remark-images to 3.0
  package.json
  yarn.lock
Owners: @johnonolan

⬆️ Updated gatsby-plugin-algolia to 0.3.0
  package.json
  yarn.lock
Owners: @johnonolan

⬆️ Updated Gatsby dependencies
  package.json
  yarn.lock
Owners: @johnonolan

⬆️ Updated bluebird to 3.5.3
  package.json
  yarn.lock
Owners: @johnonolan

.github/CODEOWNERS:

*           @johnonolan
/content/   @kymellis @johnonolan
*.css       @peterzimon @johnonolan
*.js        @aileencgn
