Repository TryGhost/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @johnonolan, @kymellis, @peterzimon, @aileencgn

.github/CODEOWNERS:

*           @johnonolan
/content/   @kymellis @johnonolan
*.css       @peterzimon @johnonolan
*.js        @aileencgn

Finished API redirects
  static/_redirects
Owners: @johnonolan

#441 doc concepts/config: SMTP secure connection
  content/concepts/config.md
Owners: @kymellis, @johnonolan

Fixed visible horizontal scrollbars on main navbar
  src/components/common/NavBar.js
  src/styles/custom.css
Owners: @aileencgn, @peterzimon, @johnonolan

Moved code examples to top level
  content/.examples/api/v2/admin/jwt/auth-client.js
  content/.examples/api/v2/admin/jwt/auth.js
  content/.examples/api/v2/admin/jwt/auth.rb
  content/.examples/api/v2/admin/jwt/auth.sh
  gatsby-config.js
Owners: @aileencgn, @kymellis, @johnonolan

Added auto-generated Content API examples
  content/.examples/api/v2/content/demo/README.md
  content/.examples/api/v2/content/demo/authors.json
  content/.examples/api/v2/content/demo/generator.js
  content/.examples/api/v2/content/demo/posts-tags-authors.json
  content/.examples/api/v2/content/demo/posts.json
  content/.examples/api/v2/content/demo/tags.json
  content/concepts/posts.md
  content/concepts/tags.md
  content/concepts/users.md
Owners: @kymellis, @johnonolan, @aileencgn

Expand Content API Examples
  content/.examples/api/v2/content/demo/authors-with-count.json
  content/.examples/api/v2/content/demo/generator.js
  content/.examples/api/v2/content/demo/pages-with-tags-authors.json
  content/.examples/api/v2/content/demo/pages.json
  content/.examples/api/v2/content/demo/posts-with-tags-authors.json
  content/.examples/api/v2/content/demo/settings.json
  content/.examples/api/v2/content/demo/tags-with-count.json
Owners: @kymellis, @johnonolan, @aileencgn

#441 doc concepts/config: SMTP secure connection (#99)
  content/concepts/config.md
Owners: @kymellis, @johnonolan

Update Twitter URL
  content/concepts/ecosystem.md
Owners: @kymellis, @johnonolan

Added redirect
  static/_redirects
Owners: @johnonolan

⬆️ Updated gatsby-plugin-advanced-sitemap to 1.0.4
  package.json
  yarn.lock
Owners: @johnonolan

Added caching rule to _headers file for sw.js
  static/_headers
Owners: @johnonolan

Fixes for swappped URLs for cloudinary adapters
  content/concepts/storage-adapters.md
Owners: @kymellis, @johnonolan

Fixes for swappped URLs for cloudinary adapters (#101)
  content/concepts/storage-adapters.md
Owners: @kymellis, @johnonolan

Update _headers
  static/_headers
Owners: @johnonolan

Fix incorrect image suffix
  content/concepts/config.md
Owners: @kymellis, @johnonolan

Add API clients as dependencies
  package.json
  yarn.lock
Owners: @johnonolan

Fix typo
  content/concepts/config.md
Owners: @kymellis, @johnonolan

Created a generator to handle admin API examples
  content/.examples/api/v2/admin/demo/generator.js
  content/.examples/api/v2/admin/demo/posts-with-formats-html-mobiledoc.json
Owners: @aileencgn, @kymellis, @johnonolan

Added admin api posts example as a file
  content/.examples/api/v2/admin/demo/posts-with-formats-html-mobiledoc.json
Owners: @kymellis, @johnonolan

Switch to using netlify dev
  .gitignore
  package.json
Owners: @johnonolan

✨ Custom plugin for handling snippets
  gatsby-config.js
  plugins/gatsby-remark-snippets/index.js
  plugins/gatsby-remark-snippets/package.json
Owners: @aileencgn, @johnonolan

⬆️ Update dependencies
  package.json
  yarn.lock
Owners: @johnonolan

🐛 Fixed Open Graph syntax using wrong attribute
  src/components/common/meta/ArticleMetaGhost.js
  src/components/common/meta/ArticleMetaMD.js
Owners: @aileencgn

Add Tencent Cloud COS Storage
  content/concepts/storage-adapters.md
Owners: @kymellis, @johnonolan

Fix typo (#104)
  content/concepts/config.md
Owners: @kymellis, @johnonolan

Fix incorrect image suffix (#103)
  content/concepts/config.md
Owners: @kymellis, @johnonolan

Add Tencent Cloud COS Storage (#105)
  content/concepts/storage-adapters.md
Owners: @kymellis, @johnonolan

Minor install tweaks
  content/install/local.md
  content/install/ubuntu.md
Owners: @kymellis, @johnonolan

Minor install tweaks (#102)
  content/install/local.md
  content/install/ubuntu.md
Owners: @kymellis, @johnonolan

Update CONTRIBUTING.md
  .github/CONTRIBUTING.md
Owners: @johnonolan

✨Added util to return absulte URLs
  utils/urls.js
Owners: @aileencgn

Switch to use absolute URLs for Algolia search
  src/components/common/search/Search.js
  utils/algolia-queries.js
Owners: @aileencgn

Switch to use absolute URLs for Algolia search
  src/components/common/search/Search.js
  utils/algolia-queries.js
Owners: @aileencgn

🐛 Strip out siteUrl from integration search results
  src/components/integrations/IntegrationBox.js
Owners: @aileencgn

Fix link to GA
  src/pages/index.js
Owners: @aileencgn

Fix link to GA
  src/pages/index.js
Owners: @aileencgn

Removed deprecated `sizeByPixelDensity` setting
  gatsby-config.js
Owners: @aileencgn

⬆️ Updated dependencies
  package.json
  yarn.lock
Owners: @johnonolan

🐛 Fixed integration posts opening in new window
  src/components/integrations/IntegrationBox.js
Owners: @aileencgn

Updated concepts meta data
  content/concepts/admin.md
  content/concepts/architecture.md
  content/concepts/config.md
  content/concepts/contributing.md
  content/concepts/core.md
  content/concepts/custom-schedulers.md
  content/concepts/ecosystem.md
  content/concepts/features.md
  content/concepts/front-end.md
  content/concepts/governance.md
  content/concepts/hosting-problems.md
  content/concepts/hosting.md
  content/concepts/introduction.md
  content/concepts/pages.md
  content/concepts/posts.md
  content/concepts/principles.md
  content/concepts/security.md
  content/concepts/server-recommendations.md
  content/concepts/tags.md
  content/concepts/users.md
Owners: @kymellis, @johnonolan
