Repository TryGhost/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @johnonolan, @kymellis, @peterzimon, @aileencgn

.github/CODEOWNERS:

*           @johnonolan
/content/   @kymellis @johnonolan
*.css       @peterzimon @johnonolan
*.js        @aileencgn

🏗️ Route based `/integrations` directory for components
  src/components/integration-search/index.js
  src/components/integrations/IntegrationBox.js
  src/components/integrations/IntegrationsContent.js
  src/components/integrations/IntegrationsTagList.js
  src/components/integrations/index.js
  src/components/integrations/integration-search/IntegrationFilterMenu.js
  src/components/integrations/integration-search/IntegrationIndex.js
  src/components/integrations/integration-search/IntegrationResults.js
  src/components/integrations/integration-search/IntegrationSearchBox.js
  src/components/integrations/integration-search/index.js
  src/pages/integrations.js
  src/templates/tags-integration.js
Owners: @aileencgn

🏗️ Route based `/faq` directory for components
  src/components/faq/FAQLink.js
  src/components/faq/FAQTagList.js
  src/components/faq/index.js
  src/pages/faq.js
  src/templates/tags-faq.js
Owners: @aileencgn

🏗️ Route based `/tutorials` directory for components
  src/components/tutorials/PostCard.js
  src/components/tutorials/index.js
  src/pages/tutorials.js
  src/templates/tags-tutorials.js
Owners: @aileencgn

🚚 Moved `Search` component to globals
  src/components/global/Search.js
  src/components/global/SearchModal.js
Owners: @aileencgn

🚚 Moved `Box` and `FeedbackForm` to globals
  src/components/global/Box.js
  src/components/global/FeedbackForm.js
  src/components/integrations/IntegrationBox.js
  src/components/tutorials/PostCard.js
  src/pages/api.js
  src/pages/index.js
  src/pages/setup.js
  src/templates/doc-navigation-toc.js
Owners: @aileencgn

🚚 Moved sidebar to globals
  src/components/global/sidebar/SidebarLink.js
  src/components/global/sidebar/SidebarList.js
  src/components/global/sidebar/SidebarNav.js
  src/components/global/sidebar/index.js
  src/templates/doc-navigation-toc.js
Owners: @aileencgn

🚚 Moved meta to globals and outsources `getAuthorProperties` fn
  src/components/global/meta/ArticleMetaGhost.js
  src/components/global/meta/ArticleMetaMD.js
  src/components/global/meta/ImageMeta.js
  src/components/global/meta/MetaData.js
  src/components/global/meta/WebsiteMeta.js
  src/components/global/meta/getAuthorProperties.js
  src/components/global/meta/index.js
  src/components/meta/index.js
  src/pages/api.js
  src/pages/faq.js
  src/pages/index.js
  src/pages/integrations.js
  src/pages/setup.js
  src/pages/tutorials.js
  src/templates/doc-navigation-toc.js
  src/templates/faq.js
  src/templates/integration.js
  src/templates/standalone-post.js
  src/templates/tags-faq.js
  src/templates/tags-integration.js
  src/templates/tags-tutorials.js
Owners: @aileencgn

🚚 Rename template files
  gatsby/createPages.js
  src/templates/ghost/faq-archive.js
  src/templates/ghost/faq.js
  src/templates/ghost/integration-archive.js
  src/templates/ghost/integration.js
  src/templates/ghost/tutorial-archive.js
  src/templates/ghost/tutorial.js
  src/templates/markdown/post.js
  src/templates/tags-faq.js
  utils/query-config.js
Owners: @aileencgn

🔥 Removed unused components
  src/components/unused/SectionHeading.js
  src/components/unused/authors.js
Owners: @aileencgn

🏗️ Route based `/home` directory for component
  src/components/home/HomeHeader.js
  src/components/home/index.js
  src/components/layouts/index.js
  src/pages/index.js
Owners: @aileencgn

🚚 Moved `NavBar` and `TOC` to global components
  src/components/global/NavBar.js
  src/components/global/TOC.js
  src/components/home/HomeHeader.js
  src/components/integrations/IntegrationsContent.js
  src/components/layouts/Header.js
  src/components/layouts/index.js
  src/templates/ghost/integration.js
  src/templates/markdown/post.js
Owners: @aileencgn

🚚 Move layout to global components
  src/components/global/layout/Footer.js
  src/components/global/layout/Header.js
  src/components/global/layout/Layout.js
  src/components/global/layout/SearchWrapper.js
  src/components/global/layout/index.js
  src/components/integrations/IntegrationsContent.js
  src/components/layouts/index.js
  src/pages/404.js
  src/pages/api.js
  src/pages/faq.js
  src/pages/index.js
  src/pages/setup.js
  src/pages/tutorials.js
  src/templates/ghost/faq-archive.js
  src/templates/ghost/faq.js
  src/templates/ghost/integration.js
  src/templates/ghost/tutorial-archive.js
  src/templates/ghost/tutorial.js
  src/templates/markdown/post.js
Owners: @aileencgn

🎨 Use global index for exports
  src/components/global/index.js
  src/components/integrations/IntegrationBox.js
  src/components/tutorials/PostCard.js
  src/pages/api.js
  src/pages/index.js
  src/pages/setup.js
  src/templates/ghost/faq.js
  src/templates/ghost/integration.js
  src/templates/markdown/post.js
Owners: @aileencgn

🚚 Moved `getMetaImageUrls` fn to meta component
  src/components/global/meta/ArticleMetaMD.js
  src/components/global/meta/getMetaImageUrls.js
  src/components/global/meta/index.js
  src/pages/api.js
  src/pages/faq.js
  src/pages/index.js
  src/pages/integrations.js
  src/pages/setup.js
  src/pages/tutorials.js
  src/templates/ghost/faq-archive.js
  src/templates/ghost/faq.js
  src/templates/ghost/integration-archive.js
  src/templates/ghost/integration.js
  src/templates/ghost/tutorial-archive.js
  src/templates/ghost/tutorial.js
  src/templates/markdown/post.js
Owners: @aileencgn

🏗️ New `/search` grouped component
  src/components/global/NavBar.js
  src/components/global/search/Search.js
  src/components/global/search/SearchModal.js
  src/components/global/search/index.js
  src/components/home/HomeHeader.js
Owners: @aileencgn

🚚 Renamed `/css` to `/styles` and moved `spirit-styles` to it
  src/components/faq/FAQLink.js
  src/components/faq/FAQTagList.js
  src/components/global/FeedbackForm.js
  src/components/global/NavBar.js
  src/components/global/PrevNext.js
  src/components/global/layout/Footer.js
  src/components/global/layout/Layout.js
  src/components/global/search/Search.js
  src/components/home/HomeHeader.js
  src/components/integrations/IntegrationsContent.js
  src/components/tutorials/PostCard.js
  src/pages/404.js
  src/pages/api.js
  src/pages/faq.js
  src/pages/index.js
  src/pages/setup.js
  src/pages/tutorials.js
  src/styles/_media-queries.css
  src/styles/_type-scale.css
  src/styles/app.css
  src/styles/colors.css
  src/styles/custom.css
  src/styles/post-content.css
  src/styles/prism.css
  src/styles/spirit-styles.js
  src/styles/typography.css
  src/templates/ghost/faq-archive.js
  src/templates/ghost/faq.js
  src/templates/ghost/integration.js
  src/templates/ghost/tutorial-archive.js
  src/templates/ghost/tutorial.js
  src/templates/markdown/post.js
Owners: @aileencgn, @peterzimon, @johnonolan

Fix broken link
  content/concepts/config.md
Owners: @kymellis, @johnonolan

🚚 Moved `SearchWrapper` layout component to search
  src/components/common/layout/Layout.js
  src/components/common/search/SearchWrapper.js
  src/components/common/search/index.js
Owners: @aileencgn

Make tables full width
  src/styles/post-content.css
Owners: @peterzimon, @johnonolan

Fix iframe margins
  src/styles/post-content.css
Owners: @peterzimon, @johnonolan

Correct source install instructions
  content/install/source.md
Owners: @kymellis, @johnonolan

Cleanup redirects
  static/_redirects
Owners: @johnonolan

Fixing in-page anchors with sticky header
  src/styles/post-content.css
  src/templates/markdown/post.js
Owners: @peterzimon, @johnonolan, @aileencgn

Adding FAQ wide and full width styles
  src/styles/post-content.css
Owners: @peterzimon, @johnonolan

🎨 Used template literals in Footer
  src/components/common/layout/Footer.js
Owners: @aileencgn

♻️ Refactor Header to stateless component and small improvements
  src/components/common/layout/Header.js
Owners: @aileencgn

🔥 Removed unused `title` attribute for Layout component
  src/components/integrations/IntegrationsContent.js
  src/pages/api.js
  src/pages/faq.js
  src/pages/index.js
  src/pages/setup.js
  src/pages/tutorials.js
  src/templates/ghost/faq-archive.js
  src/templates/ghost/tutorial-archive.js
  src/templates/ghost/tutorial.js
Owners: @aileencgn

♻️ Refactor Layout to stateless component and small improvements
  src/components/common/layout/Layout.js
Owners: @aileencgn

add website link to debian guide
  src/pages/setup.js
Owners: @aileencgn

add debian logo
  src/images/icons/debian-logo.svg
Owners: @johnonolan

add debian guide
  content/install/debian.md
Owners: @kymellis, @johnonolan

Added images for API migration docs
  content/images/api/import-failed.png
  content/images/api/import-warnings.png
Owners: @kymellis, @johnonolan

🎨 Specific typechecking for ArticleMetaGhost component
  src/components/common/meta/ArticleMetaGhost.js
Owners: @aileencgn

🎨 getMetaImageUrls util code improvements
  src/components/common/meta/getMetaImageUrls.js
Owners: @aileencgn

🎨 Specific typechecking for ArticleMetaMD component
  src/components/common/meta/ArticleMetaMD.js
Owners: @aileencgn

🎨 Specific typechecking for getAuthorProperties util
  src/components/common/meta/getAuthorProperties.js
Owners: @aileencgn

♻️ Refactored ImageMeta as stateless component
  src/components/common/meta/ImageMeta.js
Owners: @aileencgn

🎨 Code improvements and improved typechecking for meta components
  src/components/common/meta/MetaData.js
  src/components/common/meta/WebsiteMeta.js
Owners: @aileencgn

🎨 Small code improvements for Search component
  src/components/common/search/Search.js
Owners: @aileencgn

♻️ Refactored SearchModal component
  src/components/common/search/Search.js
  src/components/common/search/SearchInput.js
  src/components/common/search/SearchModal.js
Owners: @aileencgn
