Repository TryGhost/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @johnonolan, @kymellis, @peterzimon, @aileencgn

.github/CODEOWNERS:

*           @johnonolan
/content/   @kymellis @johnonolan
*.css       @peterzimon @johnonolan
*.js        @aileencgn

Fix tag archives for integrations
  gatsby-config.js
  package.json
  src/components/integration-search/integration-results.js
  src/components/integration.js
  src/components/layouts/partials/integrations-taglist.js
  src/pages/faq.js
  src/pages/integrations.js
  src/templates/tags-integration.js
  yarn.lock
Owners: @aileencgn, @johnonolan

Integrations content components for page and tags archive
  src/components/integrations-content.js
  src/pages/integrations.js
  src/templates/tags-integration.js
Owners: @aileencgn

Sort integrations
  src/components/integrations-content.js
Owners: @aileencgn

Added redirect
  static/_redirects
Owners: @johnonolan

Minor style tweaks for integtrations
  src/components/css/post-content.css
Owners: @peterzimon, @johnonolan

Fix typo
  content/concepts/tags.md
Owners: @kymellis, @johnonolan

Added redirect
  static/_redirects
Owners: @johnonolan

Failed attempt in filtering search results
  src/components/integration-search/integration-index.js
  src/components/integration-search/integration-results.js
  src/components/integration-search/integration-searchbox.js
  src/components/integration.js
  src/components/integrations-content.js
  src/components/layouts/partials/integrations-header.js
  src/components/layouts/partials/integrations-taglist.js
Owners: @aileencgn

Added tag slugs to Algolia query
  src/utils/algolia-queries.js
Owners: @aileencgn

First pass on reCAPTCHA for feedback form
  package.json
  src/components/global/feedback-form.js
  yarn.lock
Owners: @johnonolan, @aileencgn

Remove reCAPTCHA
  .env.example
  src/components/global/feedback-form.js
Owners: @johnonolan, @aileencgn

Clear input button
  src/components/integration-search/integration-searchbox.js
  src/components/integrations-content.js
Owners: @aileencgn

IT FUCKING WORKS
  src/components/integration-search/integration-searchbox.js
  src/components/integrations-content.js
  src/components/layouts/partials/integrations-taglist.js
Owners: @aileencgn

Clean up a bit
  src/components/integration-search/integration-index.js
  src/components/integration-search/integration-searchbox.js
  src/components/integration.js
  src/components/integrations-content.js
  src/components/layouts/partials/integrations-header.js
Owners: @aileencgn

Unfuck header
  src/components/integrations-content.js
Owners: @aileencgn

Integrations search (#23)
  src/components/integration-search/integration-results.js
  src/components/integration-search/integration-searchbox.js
  src/components/integration.js
  src/components/integrations-content.js
  src/components/layouts/partials/integrations-header.js
  src/components/layouts/partials/integrations-taglist.js
  src/utils/algolia-queries.js
Owners: @aileencgn

Moved TOC sticky class to wrapper, related posts for integrations
  src/components/global/related-posts.js
  src/components/layouts/partials/toc.js
  src/pages/design/page-templates/left-sidebar-toc.js
  src/pages/design/page-templates/toc-only.js
  src/templates/doc-navigation-toc.js
  src/templates/integration.js
  src/utils/node-queries.js
Owners: @aileencgn

Automatic meta title for integrations
  src/components/layouts/partials/meta-data.js
  src/components/layouts/partials/meta/article-meta-ghost.js
  src/templates/integration.js
Owners: @aileencgn

Removing side margins from divs and tables
  src/components/css/post-content.css
Owners: @peterzimon, @johnonolan

Temporary cleanup of line heights for heading 4 font size
  src/components/css/post-content.css
Owners: @peterzimon, @johnonolan

Styling search section labels
  src/components/css/custom.css
  src/components/search.js
Owners: @peterzimon, @johnonolan, @aileencgn

Removing temporary 'design' section from docs
  gatsby-node.js
  src/components/layouts/partials/design-nav-sidebar.js
  src/pages/design/components/boxes.js
  src/pages/design/components/custom-header.js
  src/pages/design/components/hairline-header.js
  src/pages/design/components/my-header.js
  src/pages/design/components/shadow-header.js
  src/pages/design/index.js
  src/pages/design/page-templates/custom-section-landing.js
  src/pages/design/page-templates/dummy-post.js
  src/pages/design/page-templates/grid.js
  src/pages/design/page-templates/left-sidebar-toc.js
  src/pages/design/page-templates/left-sidebar.js
  src/pages/design/page-templates/posts-landing.js
  src/pages/design/page-templates/section-landing.js
  src/pages/design/page-templates/standalone.js
  src/pages/design/page-templates/toc-only.js
  src/pages/design/typography/post.js
  src/pages/design/typography/ui.js
  src/templates/doc-navigation-toc.js
Owners: @aileencgn

Removing temp. design guidelines from docs
  content/design/components.md
  content/design/page-templates.md
  content/design/styling.md
  content/design/typography.md
Owners: @kymellis, @johnonolan

Refine shadow (fixes Safari bug)
  src/components/css/custom.css
Owners: @peterzimon, @johnonolan

Randomise related posts filler
  gatsby-node.js
Owners: @aileencgn

Style related integrations
  src/components/global/related-posts.js
  src/templates/integration.js
Owners: @aileencgn

Reorder integrations
  src/pages/integrations.js
Owners: @aileencgn

Style Zapier embeds
  src/components/css/post-content.css
Owners: @peterzimon, @johnonolan

Fix breadcrumb/sidebar alignment
  src/components/layouts/partials/toc.js
  src/templates/integration.js
Owners: @aileencgn

More emphasis on integration step numbers
  src/components/css/post-content.css
Owners: @peterzimon, @johnonolan

Improve related posts logic
  gatsby-node.js
  src/components/global/related-posts.js
Owners: @aileencgn

Removing side margins from divs and tables
  src/components/css/post-content.css
Owners: @peterzimon, @johnonolan

Styling search section labels
  src/components/css/custom.css
  src/components/search.js
Owners: @peterzimon, @johnonolan, @aileencgn

Temporary cleanup of line heights for heading 4 font size
  src/components/css/post-content.css
Owners: @peterzimon, @johnonolan

Refine shadow (fixes Safari bug)
  src/components/css/custom.css
Owners: @peterzimon, @johnonolan

Randomise related posts filler
  gatsby-node.js
Owners: @aileencgn

Removing temporary 'design' section from docs
  gatsby-node.js
  src/components/layouts/partials/design-nav-sidebar.js
  src/pages/design/components/boxes.js
  src/pages/design/components/custom-header.js
  src/pages/design/components/hairline-header.js
  src/pages/design/components/my-header.js
  src/pages/design/components/shadow-header.js
  src/pages/design/index.js
  src/pages/design/page-templates/custom-section-landing.js
  src/pages/design/page-templates/dummy-post.js
  src/pages/design/page-templates/grid.js
  src/pages/design/page-templates/left-sidebar.js
  src/pages/design/page-templates/posts-landing.js
  src/pages/design/page-templates/section-landing.js
  src/pages/design/page-templates/standalone.js
  src/pages/design/typography/post.js
  src/pages/design/typography/ui.js
  src/templates/doc-navigation-toc.js
Owners: @aileencgn

Style search X
  src/components/integration-search/integration-searchbox.js
Owners: @aileencgn

Toggle search when input got cleared by user
  src/components/integration-search/integration-searchbox.js
Owners: @aileencgn

Use `showImages` property for related posts
  src/components/global/related-posts.js
  src/templates/integration.js
Owners: @aileencgn
