Repository TryGhost/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @johnonolan, @kymellis, @peterzimon, @aileencgn

🏗️ Separate CommonJS (Node.js executed) and ES6 utils
  gatsby-config.js
  gatsby-node.js
  src/components/search.js
  test/algolia-transforms.test.js
  utils/algolia-queries.js
  utils/algolia-transforms.js
  utils/node-queries.js
  utils/query-config.js
  utils/urls.js
Owners: @aileencgn

🚚 Move Gatsby API methods to `/gatsby` folder
  gatsby-browser.js
  gatsby-node.js
  gatsby/createPages.js
  gatsby/onCreateNode.js
  gatsby/onPreRouteUpdate.js
  gatsby/onRouteUpdate.js
Owners: @aileencgn

🔇 Removed console log
  gatsby/onRouteUpdate.js
Owners: @aileencgn

🚚 Moved `/css` out of `/components`
  src/components/layouts/default.js
  src/css/_media-queries.css
  src/css/_type-scale.css
  src/css/app.css
  src/css/colors.css
  src/css/custom.css
  src/css/post-content.css
  src/css/prism.css
  src/css/typography.css
Owners: @aileencgn, @peterzimon, @johnonolan

🔥 Removed unused `configurations.svg` file
  src/components/configuration.svg
Owners: @johnonolan

🚚 Moved and renamed `IntegrationsTagList` component
  src/components/IntegrationsTagList.js
  src/components/integrations-content.js
Owners: @aileencgn

💩 Temp folder for unused components
  src/components/layouts/partials/home-header.js
  src/components/unused/SectionHeading.js
  src/pages/tutorials.js
  src/templates/tags-tutorials.js
Owners: @aileencgn

🚚 Renamed `DefaultLayout` component and used index file to export
  src/components/integrations-content.js
  src/components/layouts/DefaultLayout.js
  src/components/layouts/index.js
  src/pages/404.js
  src/pages/api.js
  src/pages/faq.js
  src/pages/index.js
  src/pages/setup.js
  src/pages/tutorials.js
  src/templates/doc-navigation-toc.js
  src/templates/faq.js
  src/templates/integration.js
  src/templates/standalone-post.js
  src/templates/tags-faq.js
  src/templates/tags-tutorials.js
Owners: @aileencgn

🚚 Rename `SearchWrapper` layout component
  src/components/layouts/DefaultLayout.js
  src/components/layouts/SearchWrapper.js
Owners: @aileencgn

🚚 Moved and renamed `FAQTagList` component
  src/components/FAQTagList.js
  src/pages/faq.js
  src/templates/tags-faq.js
Owners: @aileencgn

🚚 Renamed `Footer` layout component
  src/components/layouts/DefaultLayout.js
  src/components/layouts/Footer.js
Owners: @aileencgn

🚚 Moved and renamed `Box` component
  src/components/Box.js
  src/components/integration.js
  src/components/layouts/partials/home-header.js
  src/components/postcard.js
  src/pages/api.js
  src/pages/index.js
  src/pages/setup.js
Owners: @aileencgn

🚚 Renamed `Header` layout component
  src/components/layouts/DefaultLayout.js
  src/components/layouts/Header.js
Owners: @aileencgn

🚚 Renamed `HomeHeader` layout component and added to index
  src/components/layouts/HomeHeader.js
  src/components/layouts/index.js
  src/pages/index.js
Owners: @aileencgn

🚚 Renamed `NavBar` layout component and added to index
  src/components/integrations-content.js
  src/components/layouts/Header.js
  src/components/layouts/HomeHeader.js
  src/components/layouts/NavBar.js
  src/components/layouts/index.js
Owners: @aileencgn

🚚 Renamed `TOC` layout component and added to index
  src/components/layouts/TOC.js
  src/components/layouts/index.js
  src/templates/doc-navigation-toc.js
  src/templates/integration.js
Owners: @aileencgn

🚚 Renamed `TOC` layout component and added to index
  src/components/layouts/TOC.js
  src/components/layouts/index.js
  src/templates/doc-navigation-toc.js
  src/templates/integration.js
Owners: @aileencgn

🚚 Renamed `NavBar` layout component and added to index
  src/components/integrations-content.js
  src/components/layouts/Header.js
  src/components/layouts/HomeHeader.js
  src/components/layouts/NavBar.js
  src/components/layouts/index.js
Owners: @aileencgn

🚚 Renamed `Footer` layout component
  src/components/layouts/DefaultLayout.js
  src/components/layouts/Footer.js
Owners: @aileencgn

💩 Temp folder for unused components
  src/components/layouts/partials/home-header.js
  src/components/unused/SectionHeading.js
  src/pages/tutorials.js
  src/templates/tags-tutorials.js
Owners: @aileencgn

🚚 Moved and renamed `FAQTagList` component
  src/components/FAQTagList.js
  src/pages/faq.js
  src/templates/tags-faq.js
Owners: @aileencgn

🚚 Rename `SearchWrapper` layout component
  src/components/layouts/DefaultLayout.js
  src/components/layouts/SearchWrapper.js
Owners: @aileencgn

🚚 Renamed `DefaultLayout` component and used index file to export
  src/components/integrations-content.js
  src/components/layouts/DefaultLayout.js
  src/components/layouts/index.js
  src/pages/404.js
  src/pages/api.js
  src/pages/faq.js
  src/pages/index.js
  src/pages/setup.js
  src/pages/tutorials.js
  src/templates/doc-navigation-toc.js
  src/templates/faq.js
  src/templates/integration.js
  src/templates/standalone-post.js
  src/templates/tags-faq.js
  src/templates/tags-tutorials.js
Owners: @aileencgn

🚚 Renamed `Header` layout component
  src/components/layouts/DefaultLayout.js
  src/components/layouts/Header.js
Owners: @aileencgn

🚚 Moved and renamed `IntegrationsTagList` component
  src/components/IntegrationsTagList.js
  src/components/integrations-content.js
Owners: @aileencgn

🚚 Moved and renamed `Box` component
  src/components/Box.js
  src/components/integration.js
  src/components/layouts/partials/home-header.js
  src/components/postcard.js
  src/pages/api.js
  src/pages/index.js
  src/pages/setup.js
Owners: @aileencgn

🚚 Renamed `HomeHeader` layout component and added to index
  src/components/layouts/HomeHeader.js
  src/components/layouts/index.js
  src/pages/index.js
Owners: @aileencgn

🚚 Self-contained sidebar component
  src/components/sidebar/SidebarLink.js
  src/components/sidebar/SidebarList.js
  src/components/sidebar/SidebarNav.js
  src/components/sidebar/index.js
  src/templates/doc-navigation-toc.js
Owners: @aileencgn

Fixed typo in security.md
  content/concepts/security.md
Owners: @kymellis, @johnonolan

Fixed typo in security.md (#42)
  content/concepts/security.md
Owners: @kymellis, @johnonolan

🚚 Rename `integration` to `IntegrationBox`
  src/components/IntegrationBox.js
  src/components/integration-search/integration-results.js
  src/components/integrations-content.js
Owners: @aileencgn

🚚 Moved `authors` to unused folder
  src/components/postcard.js
  src/components/unused/authors.js
  src/templates/standalone-post.js
Owners: @aileencgn

🚚 Moved `FeedbackForm` to `/components`
  src/components/FeedbackForm.js
  src/templates/doc-navigation-toc.js
Owners: @aileencgn

🚚 Make `/global` dir exportable and rename `Icon` component
  src/components/global/icon.js
  src/components/global/index.js
  src/components/global/prev-next.js
  src/components/global/search-modal.js
  src/components/integration-search/integration-searchbox.js
  src/components/layouts/Footer.js
  src/components/layouts/HomeHeader.js
  src/components/postcard.js
  src/pages/404.js
  src/pages/api.js
  src/pages/index.js
  src/pages/setup.js
  src/templates/doc-navigation-toc.js
Owners: @aileencgn

🚚 Actually rename `Icon` component
  src/components/global/Icon.js
Owners: @aileencgn

🚚 Actually rename `Logo` component
  src/components/global/Logo.js
Owners: @aileencgn

🚚 Renamed `Logo` and `PrevNext` components
  src/components/global/PrevNext.js
  src/components/global/index.js
  src/components/layouts/Footer.js
  src/components/layouts/NavBar.js
  src/templates/doc-navigation-toc.js
Owners: @aileencgn

🚚 Moved and renamed `Tags` helper component
  src/components/global/Tags.js
  src/templates/faq.js
  src/templates/integration.js
Owners: @aileencgn

🚚 Renamed `RelatedPosts` component
  src/components/global/RelatedPosts.js
  src/templates/faq.js
  src/templates/integration.js
Owners: @aileencgn

🚚 Renamed `SearchModal` component
  src/components/global/SearchModal.js
  src/components/layouts/HomeHeader.js
  src/components/layouts/NavBar.js
Owners: @aileencgn

.github/CODEOWNERS:

*           @johnonolan
/content/   @kymellis @johnonolan
*.css       @peterzimon @johnonolan
*.js        @aileencgn
