Repository TryGhost/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @johnonolan, @kymellis, @peterzimon, @aileencgn

Remove Content API redirects
  gatsby/createPages.js
  static/_redirects
Owners: @aileencgn, @johnonolan

Wiring up new API content sections
  src/pages/api.js
Owners: @aileencgn

Updating concepts to reflect current state
  content/concepts/core.md
Owners: @kymellis, @johnonolan

Updating concepts to reflect current state (#57)
  content/concepts/core.md
Owners: @kymellis, @johnonolan

Updated API response examples
  content/concepts/posts.md
  content/concepts/tags.md
  content/concepts/users.md
Owners: @kymellis, @johnonolan

Updated API response examples (#58)
  content/concepts/posts.md
  content/concepts/tags.md
  content/concepts/users.md
Owners: @kymellis, @johnonolan

Renaming @blog -> @site
  src/data/sidebars/handlebars.yaml
  static/_redirects
Owners: @johnonolan

⚡ Added no-script fallback
  gatsby-ssr.js
  gatsby/onRenderBody.js
Owners: @aileencgn

⬆️ Update gatsby-source-ghost@3.2.0
  .env.example
  gatsby-config.js
  package.json
  src/utils/page-queries.js
  yarn.lock
Owners: @johnonolan, @aileencgn

↪️ Replace `custom_excerpt` field with `excerpt`
  src/components/common/meta/ArticleMetaGhost.js
  src/components/faq/FAQLink.js
  src/components/tutorials/TutorialCard.js
  src/utils/getPostExcerpt.js
  src/utils/page-queries.js
Owners: @aileencgn

🔥 Remove unneeded getPostExcerpt util
  src/utils/getPostExcerpt.js
Owners: @aileencgn

🙈 Use correct Content API key
  .env.example
Owners: @johnonolan

🎨 Switched to Tags helper in TutorialCard
  src/components/tutorials/TutorialCard.js
Owners: @aileencgn

➕ Added @tryghost/helpers-gatsby@1.0.0
  package.json
  yarn.lock
Owners: @johnonolan

🛠 Rework Tags component using helper
  package.json
  src/components/common/Tags.js
  src/templates/ghost/faq.js
  src/templates/ghost/integration.js
  yarn.lock
Owners: @johnonolan, @aileencgn

⬆️ Update @tryghost/helpers to 1.0.0
  package.json
  yarn.lock
Owners: @johnonolan

🐛 Import tags helper in Tags component correctly
  src/components/common/Tags.js
Owners: @aileencgn

🎨 Specify proptypes and add visability description
  src/components/common/Tags.js
Owners: @aileencgn

🎨 Added `visibility` property to tags fields in queries
  src/utils/page-queries.js
Owners: @aileencgn

🎨 Use Tags helper in TutorialCard
  src/components/tutorials/TutorialCard.js
Owners: @aileencgn

🎨 Switch to Tags helper in faq template
  src/templates/ghost/faq.js
Owners: @aileencgn

🎨 Switched to Tags helper in integration template
  src/templates/ghost/integration.js
Owners: @aileencgn

🔥 Remove Tags component
  src/components/common/Tags.js
  src/components/common/index.js
Owners: @aileencgn

Removed duplicate key from example config
  .env.example
Owners: @johnonolan

Fixed incorrect absolute urls
  content/concepts/routing.md
Owners: @kymellis, @johnonolan

🎨 Use tags helper for ArticleMetaGhost
  src/components/common/meta/ArticleMetaGhost.js
Owners: @aileencgn

🔥 Removed getPrimaryTag fn from tag-utils
  src/utils/tag-utils.js
Owners: @aileencgn

♻️ Refactor tag-utils to use tags helper
  src/utils/tag-utils.js
Owners: @aileencgn

🚚 Rename tag-utils to getTagsforPostCollection
  src/components/faq/FAQTagList.js
  src/components/integrations/IntegrationsTagList.js
  src/utils/getTagsforPostCollection.js
Owners: @aileencgn

🐛 Pass `limit` as number not as string to Tags helper
  src/templates/ghost/faq.js
  src/templates/ghost/integration.js
Owners: @aileencgn

🎨 Switched to Tags helper in integration template
  src/templates/ghost/integration.js
Owners: @aileencgn

🐛 Pass `limit` as number not as string to Tags helper
  src/templates/ghost/faq.js
  src/templates/ghost/integration.js
Owners: @aileencgn

🎨 Specify proptypes and add visability description
  src/components/common/Tags.js
Owners: @aileencgn

🔥 Removed getPrimaryTag fn from tag-utils
  src/utils/tag-utils.js
Owners: @aileencgn

🛠 Rework Tags component using helper
  package.json
  src/components/common/Tags.js
  src/templates/ghost/faq.js
  src/templates/ghost/integration.js
  yarn.lock
Owners: @johnonolan, @aileencgn

⬆️ Update @tryghost/helpers to 1.0.0
  package.json
  yarn.lock
Owners: @johnonolan

🐛 Import tags helper in Tags component correctly
  src/components/common/Tags.js
Owners: @aileencgn

🔥 Remove Tags component
  src/components/common/Tags.js
  src/components/common/index.js
Owners: @aileencgn

♻️ Refactor tag-utils to use tags helper
  src/utils/tag-utils.js
Owners: @aileencgn

🎨 Switched to Tags helper in TutorialCard
  src/components/tutorials/TutorialCard.js
Owners: @aileencgn

.github/CODEOWNERS:

*           @johnonolan
/content/   @kymellis @johnonolan
*.css       @peterzimon @johnonolan
*.js        @aileencgn
