Repository TryGhost/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @johnonolan, @kymellis, @peterzimon, @aileencgn

🎨 Use Tags helper in TutorialCard
  src/components/tutorials/TutorialCard.js
Owners: @aileencgn

🎨 Added `visibility` property to tags fields in queries
  src/utils/page-queries.js
Owners: @aileencgn

🎨 Switch to Tags helper in faq template
  src/templates/ghost/faq.js
Owners: @aileencgn

🚚 Rename tag-utils to getTagsforPostCollection
  src/components/faq/FAQTagList.js
  src/components/integrations/IntegrationsTagList.js
  src/utils/getTagsforPostCollection.js
Owners: @aileencgn

🎨 Use tags helper for ArticleMetaGhost
  src/components/common/meta/ArticleMetaGhost.js
Owners: @aileencgn

➕ Added @tryghost/helpers-gatsby@1.0.0
  package.json
  yarn.lock
Owners: @johnonolan

Added a script for managing index settings
  package.json
  utils/algolia-settings.js
  yarn.lock
Owners: @johnonolan, @aileencgn

Include integrations in search
  src/components/common/search/Search.js
Owners: @aileencgn

Algolia settings script: cleanup and document
  utils/algolia-settings.js
Owners: @aileencgn

Temporary debug to figure out netlify build envs
  gatsby-config.js
Owners: @aileencgn

Wire up logic for algolia build
  gatsby-config.js
Owners: @aileencgn

'@blog' page no longer exists, changed to '@site'
  src/data/sidebars/handlebars.yaml
Owners: @johnonolan

'@blog' page no longer exists, changed to '@site' (#76)
  src/data/sidebars/handlebars.yaml
Owners: @johnonolan

Fixed typos
  content/install/ubuntu.md
Owners: @kymellis, @johnonolan

Updated Ghost server test commands
  content/install/source.md
Owners: @kymellis, @johnonolan

Updated Ghost server test commands (#79)
  content/install/source.md
Owners: @kymellis, @johnonolan

Github -> GitHub
  content/concepts/contributing.md
  content/concepts/ecosystem.md
  content/concepts/front-end.md
  content/concepts/introduction.md
  content/concepts/principles.md
  content/concepts/storage-adapters.md
  content/install/source.md
  test/fixtures/install-source.html
  test/fixtures/minimal-example.html
Owners: @kymellis, @johnonolan

Github -> GitHub (#80)
  content/concepts/contributing.md
  content/concepts/ecosystem.md
  content/concepts/front-end.md
  content/concepts/introduction.md
  content/concepts/principles.md
  content/concepts/storage-adapters.md
  content/install/source.md
  test/fixtures/install-source.html
  test/fixtures/minimal-example.html
Owners: @kymellis, @johnonolan

Fixed typo
  content/concepts/contributing.md
Owners: @kymellis, @johnonolan

Fixed typo
  content/concepts/redirects.md
  content/concepts/routing.md
Owners: @kymellis, @johnonolan

Added new section on how we handle vulnerabilities
  content/concepts/vulnerabilities.md
Owners: @kymellis, @johnonolan

Added new section on how we handle vulnerabilities (#82)
  content/concepts/vulnerabilities.md
Owners: @kymellis, @johnonolan

Updated handlebars sidebar and redirects
  src/data/sidebars/handlebars.yaml
  static/_redirects
Owners: @johnonolan

⬆️ Update dependencies
  package.json
  yarn.lock
Owners: @johnonolan

Removed redundant todo
  gatsby-config.js
Owners: @aileencgn

Dynamic routing docs
  content/concepts/routing.md
  src/data/sidebars/concepts.yaml
  src/data/sidebars/handlebars.yaml
  src/styles/post-content.css
  src/styles/prism.css
  src/utils/getPostHeaderConfig.js
  static/_redirects
Owners: @kymellis, @johnonolan, @peterzimon, @aileencgn

Move redirects
  content/concepts/redirects.md
  src/data/sidebars/concepts.yaml
  src/data/sidebars/handlebars.yaml
  static/_redirects
Owners: @kymellis, @johnonolan

New dynamic routing docs (#83)
  content/concepts/redirects.md
  content/concepts/routing.md
  src/data/sidebars/concepts.yaml
  src/data/sidebars/handlebars.yaml
  src/styles/post-content.css
  src/styles/prism.css
  src/utils/getPostHeaderConfig.js
  static/_redirects
Owners: @kymellis, @johnonolan, @peterzimon, @aileencgn

Show where to get API key
  gatsby-config.js
Owners: @aileencgn

Add image to content API docs
  static/images/apikey.png
Owners: @johnonolan

Added security and config redirects
  static/_redirects
Owners: @johnonolan

Replacing HBS icon
  src/images/icons/ghostache.svg
  src/pages/api.js
Owners: @johnonolan, @aileencgn

✅ Put back protocol check for killServiceWorker
  gatsby/onPreRouteUpdate.js
Owners: @aileencgn

🚚 Make `onCreateNode` API methods more readable
  gatsby-node.js
  gatsby/onCreateNode.js
Owners: @aileencgn

🚚 Destructure gatsby-browser file to show fn names
  gatsby-browser.js
Owners: @aileencgn

🔥 Remove unneded noscript fallback
  gatsby-ssr.js
  gatsby/onRenderBody.js
Owners: @aileencgn

🚚 Make `createPages` API methods more readable
  gatsby-node.js
  gatsby/createPages.js
Owners: @aileencgn

🎨 Wrap returned Object in Promise.props
  gatsby-node.js
Owners: @aileencgn

🎨 Simplify gatsby-browser API methods
  gatsby-browser.js
  gatsby/onPreRouteUpdate.js
  gatsby/onRouteUpdate.js
Owners: @aileencgn

🎨 Switch to Promise.all() and async/await for gatsby-node
  gatsby-node.js
Owners: @aileencgn

.github/CODEOWNERS:

*           @johnonolan
/content/   @kymellis @johnonolan
*.css       @peterzimon @johnonolan
*.js        @aileencgn
