Repository TryGhost/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @johnonolan, @kymellis, @peterzimon, @aileencgn

Update config.md
  content/concepts/config.md
Owners: @kymellis, @johnonolan

Update ubuntu.md
  content/install/ubuntu.md
Owners: @kymellis, @johnonolan

Update content/install/ubuntu.md
  content/install/ubuntu.md
Owners: @kymellis, @johnonolan

Fix embed-snippets 🤦🏻‍♀️
  gatsby-config.js
Owners: @aileencgn

💅 Document & cleanup gatsby-remark-snippets plugin
  plugins/gatsby-remark-snippets/index.js
Owners: @aileencgn

Update source.md to include Casper submodule
  content/install/source.md
Owners: @kymellis, @johnonolan

Initial commit
  README.md
  api-reference/endpoint/create.mdx
  api-reference/endpoint/delete.mdx
  api-reference/endpoint/get.mdx
  api-reference/introduction.mdx
  api-reference/openapi.json
  development.mdx
  essentials/code.mdx
  essentials/images.mdx
  essentials/markdown.mdx
  essentials/navigation.mdx
  essentials/reusable-snippets.mdx
  essentials/settings.mdx
  favicon.svg
  images/checks-passed.png
  images/hero-dark.svg
  images/hero-light.svg
  introduction.mdx
  logo/dark.svg
  logo/light.svg
  mint.json
  quickstart.mdx
  snippets/snippet-intro.mdx
Owners: @johnonolan

Refresh
  .gitignore
  CLAUDE.md
  README.md
  api-reference/endpoint/webhook.mdx
  api-reference/openapi.json
  development.mdx
  docs.json
  essentials/navigation.mdx
  essentials/settings.mdx
  favicon.svg
  images/hero-dark.png
  images/hero-dark.svg
  images/hero-light.png
  images/hero-light.svg
  index.mdx
  logo/dark.svg
  logo/light.svg
  mint.json
  quickstart.mdx
Owners: @johnonolan

Push
  README.md
Owners: @johnonolan

Logo
  docs.json
Owners: @johnonolan

Logo
  docs.json
  logo/dark.png
  logo/dark.svg
  logo/light.png
  logo/light.svg
Owners: @johnonolan

separate the helpers section
  docs.json
  docs/themes/helpers.mdx
  docs/themes/helpers/data-helpers.mdx
  docs/themes/helpers/functional-helpers.mdx
  docs/themes/helpers/utility-helpers.mdx
Owners: @johnonolan

Documentation edits made through Mintlify web editor
  docs/install/ubuntu.mdx
Owners: @johnonolan

CloudFlare -> Cloudflare
  docs/faq/using-cloudflare-with-ghost.mdx
  docs/introduction.mdx
Owners: @johnonolan

Documentation edits made through Mintlify web editor
  development.mdx
  favicon.svg
  index.mdx
  quickstart.mdx
  trademark.mdx
Owners: @johnonolan

Documentation edits made through Mintlify web editor
  docs/introduction.mdx
Owners: @johnonolan

Documentation edits made through Mintlify web editor
  index.mdx
Owners: @johnonolan

Documentation edits made through Mintlify web editor
  docs.json
Owners: @johnonolan

Documentation edits made through Mintlify web editor
  product.mdx
Owners: @johnonolan

Readme
  README.md
Owners: @johnonolan

Added LLM information to Resources section
  docs.json
  llm.mdx
Owners: @johnonolan

Removed references to amp
  jamstack.mdx
  themes/helpers/utility/ghost_head_foot.mdx
  themes/structure.mdx
Owners: @johnonolan

Updated light text for dark mode
  docs.json
Owners: @johnonolan

Fixed external links
  admin-api/themes/uploading-a-theme.mdx
  changes.mdx
  config.mdx
  faq.mdx
  faq/mail-config-error-google-cloud.mdx
  install/digitalocean.mdx
  install/docker.mdx
  install/linode.mdx
  install/local.mdx
  install/source.mdx
  introduction.mdx
  jamstack/eleventy.mdx
  jamstack/gatsby.mdx
  jamstack/gridsome.mdx
  jamstack/hexo.mdx
  jamstack/next.mdx
  jamstack/vuepress.mdx
  recommendations.mdx
  themes/contexts/error.mdx
  themes/helpers/data/date.mdx
  themes/helpers/data/link.mdx
  themes/members.mdx
  trademark.mdx
  webhooks.mdx
Owners: @johnonolan

small typo
  jamstack/eleventy.mdx
Owners: @johnonolan

Fixed external links (#2)
  admin-api/themes/uploading-a-theme.mdx
  changes.mdx
  config.mdx
  faq.mdx
  faq/mail-config-error-google-cloud.mdx
  install/digitalocean.mdx
  install/docker.mdx
  install/linode.mdx
  install/local.mdx
  install/source.mdx
  introduction.mdx
  jamstack/eleventy.mdx
  jamstack/gatsby.mdx
  jamstack/gridsome.mdx
  jamstack/hexo.mdx
  jamstack/next.mdx
  jamstack/vuepress.mdx
  recommendations.mdx
  themes/contexts/error.mdx
  themes/helpers/data/date.mdx
  themes/helpers/data/link.mdx
  themes/members.mdx
  trademark.mdx
  webhooks.mdx
Owners: @johnonolan

Fixed internal links
  changes.mdx
  content-api/filtering.mdx
  content-api/tags.mdx
  faq/translation.mdx
  images/logos/ghost-logo-dark.png
  images/logos/ghost-logo-light.png
  images/logos/ghost-logo-orb.png
  install.mdx
  install/local.mdx
  install/ubuntu.mdx
  jamstack/custom.mdx
  jamstack/eleventy.mdx
  jamstack/gatsby.mdx
  jamstack/gridsome.mdx
  jamstack/hexo.mdx
  jamstack/next.mdx
  jamstack/nuxt.mdx
  jamstack/vuepress.mdx
  recommendations.mdx
  reinstall.mdx
  themes/assets.mdx
  themes/contexts/index-context.mdx
  themes/contexts/page.mdx
  themes/helpers/data/authors.mdx
  themes/helpers/data/link.mdx
  themes/helpers/data/meta_data.mdx
  themes/helpers/data/readable_url.mdx
  themes/helpers/data/recommendations.mdx
  themes/helpers/data/tags.mdx
  themes/helpers/data/tiers.mdx
  themes/helpers/functional/get.mdx
  themes/helpers/utility/link_class.mdx
  themes/helpers/utility/translate.mdx
  themes/members.mdx
  themes/responsive-images.mdx
  themes/routing.mdx
  themes/search.mdx
Owners: @johnonolan

better logo download
  images/logos/ghost-logo-dark.png
  images/logos/ghost-logo-light.png
  images/logos/ghost-logo-orb.png
  logos.mdx
Owners: @johnonolan

Fixed internal links (#3)
  changes.mdx
  content-api/filtering.mdx
  content-api/tags.mdx
  faq/translation.mdx
  install.mdx
  install/local.mdx
  install/ubuntu.mdx
  jamstack/custom.mdx
  jamstack/eleventy.mdx
  jamstack/gatsby.mdx
  jamstack/gridsome.mdx
  jamstack/hexo.mdx
  jamstack/next.mdx
  jamstack/nuxt.mdx
  jamstack/vuepress.mdx
  logos.mdx
  recommendations.mdx
  reinstall.mdx
  themes/assets.mdx
  themes/contexts/index-context.mdx
  themes/contexts/page.mdx
  themes/helpers/data/authors.mdx
  themes/helpers/data/link.mdx
  themes/helpers/data/meta_data.mdx
  themes/helpers/data/readable_url.mdx
  themes/helpers/data/recommendations.mdx
  themes/helpers/data/tags.mdx
  themes/helpers/data/tiers.mdx
  themes/helpers/functional/get.mdx
  themes/helpers/utility/link_class.mdx
  themes/helpers/utility/translate.mdx
  themes/members.mdx
  themes/responsive-images.mdx
  themes/routing.mdx
  themes/search.mdx
Owners: @johnonolan

Update README.md
  README.md
Owners: @johnonolan

Update README.md
  README.md
Owners: @johnonolan

Update README.md
  README.md
Owners: @johnonolan

Added contribution docs
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/FUNDING.yml
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @johnonolan

Update README.md
  README.md
Owners: @johnonolan

Update README.md
  README.md
Owners: @johnonolan

Added CardCenteredContent snippet
  images/nuxt-logo-green-black.svg
  images/vuepress-logo.png
  install.mdx
  jamstack.mdx
  snippets/card-centered-content.jsx
Owners: @johnonolan

use noZoom
  snippets/card-centered-content.jsx
Owners: @johnonolan

Updated Node and Ghost version FAQs
  faq/major-versions-lts.mdx
  faq/node-versions.mdx
Owners: @johnonolan

Updated Node and Ghost version FAQs (#5)
  faq/major-versions-lts.mdx
  faq/node-versions.mdx
Owners: @johnonolan

Updated logos page
  logos.mdx
Owners: @johnonolan

.github/CODEOWNERS:

*           @johnonolan
/content/   @kymellis @johnonolan
*.css       @peterzimon @johnonolan
*.js        @aileencgn
