Repository TryGhost/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @johnonolan, @kymellis, @peterzimon, @aileencgn

Fixed breaking build due to quotes issue
  content/concepts/pages.md
Owners: @kymellis, @johnonolan

🔍 Show Marketplace search results
  src/components/common/search/Search.js
Owners: @aileencgn

🔗 Replace marketplace links
  content/concepts/ecosystem.md
  content/concepts/features.md
  content/concepts/front-end.md
Owners: @kymellis, @johnonolan

💄 Set search result colour for Marketplace to blue (same as logo suffix)
  src/components/common/search/Search.js
Owners: @aileencgn

💄 Set search result colour for Marketplace to blue (same as logo suffix)
  src/components/common/search/Search.js
Owners: @aileencgn

🔍 Show Marketplace search results
  src/components/common/search/Search.js
Owners: @aileencgn

🔗 Replace marketplace links
  content/concepts/ecosystem.md
  content/concepts/features.md
  content/concepts/front-end.md
Owners: @kymellis, @johnonolan

⬆️ Updated dependencies
  package.json
  yarn.lock
Owners: @johnonolan

Update _redirects
  static/_redirects
Owners: @johnonolan

Correct typo
  content/install/source.md
Owners: @kymellis, @johnonolan

Correct typo (#113)
  content/install/source.md
Owners: @kymellis, @johnonolan

🔍 Update Twitter handle in meta data
  src/components/common/meta/WebsiteMeta.js
Owners: @aileencgn

🐛 Sort integrations by slug, as title is not reliable
  src/components/integrations/IntegrationsContent.js
Owners: @aileencgn

⬆️ Update dependencies
  .browserlistrc
  gatsby-config.js
  package.json
  test/cypress/support/commands.js
  yarn.lock
Owners: @johnonolan, @aileencgn

🙈 Use correct browserlist config file name
  .browserslistrc
Owners: @johnonolan

Fix grammatical errors
  content/concepts/admin.md
Owners: @kymellis, @johnonolan

Fix grammatical errors (#114)
  content/concepts/admin.md
Owners: @kymellis, @johnonolan

🔍 Added search results for Blog
  src/components/common/search/Search.js
Owners: @aileencgn

🔗 All roads lead to Rome errh Blog
  content/concepts/ecosystem.md
  content/concepts/tags.md
  src/components/common/meta/ArticleMetaGhost.js
  src/components/common/meta/ArticleMetaMD.js
  src/components/common/meta/WebsiteMeta.js
Owners: @kymellis, @johnonolan, @aileencgn

⬆️ Update dependencies
  package.json
  yarn.lock
Owners: @johnonolan

Exclude internal tags from sitemap
  gatsby-config.js
Owners: @aileencgn

🔗 All roads lead to Rome errh Blog
  content/concepts/ecosystem.md
  content/concepts/tags.md
  src/components/common/meta/ArticleMetaGhost.js
  src/components/common/meta/ArticleMetaMD.js
  src/components/common/meta/WebsiteMeta.js
Owners: @kymellis, @johnonolan, @aileencgn

🔍 Added search results for Blog
  src/components/common/search/Search.js
Owners: @aileencgn

Add new sidebar structure to match with content added in TryGhost/docs-api#59
  src/data/sidebars/gatsby.yaml
Owners: @johnonolan

Add new sidebar structure to match with content added in TryGhost/docs-api#59 (#116)
  src/data/sidebars/gatsby.yaml
Owners: @johnonolan

Updated example config to point to mainframe.ghost.io
  .env.example
Owners: @johnonolan

🖼️ Use f_auto for Cloudinary images
  src/components/common/RelatedPosts.js
  src/components/integrations/IntegrationBox.js
  src/pages/index.js
  src/templates/ghost/integration.js
Owners: @aileencgn

🔥 Remove Ghost source
  gatsby-config.js
  gatsby-node.js
  gatsby/createPages.js
Owners: @aileencgn

🔥 Remove all the Ghost source stuff
  src/components/common/NavBar.js
  src/components/common/search/Search.js
  src/components/faq/FAQLink.js
  src/components/faq/FAQTagList.js
  src/components/faq/index.js
  src/components/integrations/IntegrationBox.js
  src/components/integrations/IntegrationsContent.js
  src/components/integrations/IntegrationsTagList.js
  src/components/integrations/index.js
  src/components/integrations/integration-search/IntegrationIndex.js
  src/components/integrations/integration-search/IntegrationResults.js
  src/components/integrations/integration-search/IntegrationSearchBox.js
  src/components/integrations/integration-search/index.js
  src/components/tutorials/TutorialCard.js
  src/components/tutorials/index.js
  src/images/bg-integrations.svg
  src/images/integration-icon.png
  src/pages/faq.js
  src/pages/integrations.js
  src/pages/tutorials.js
  src/styles/custom.css
  src/templates/ghost/faq-archive.js
  src/templates/ghost/faq.js
  src/templates/ghost/integration-archive.js
  src/templates/ghost/integration.js
  src/templates/ghost/tutorial-archive.js
  src/templates/ghost/tutorial.js
  src/utils/page-queries.js
  static/images/meta/Ghost-FAQ.jpg
  static/images/meta/Ghost-Integrations.jpg
  static/images/meta/Ghost-Tutorials.jpg
  utils/algolia-queries.js
  utils/query-config.js
Owners: @aileencgn, @johnonolan, @peterzimon

↩️ Added redirects
  static/_redirects
Owners: @johnonolan

Redirect / to ghost.org/docs
  static/_redirects
Owners: @johnonolan

Redirect / to ghost.org/docs
  static/_redirects
Owners: @johnonolan

↩️ Added redirects
  static/_redirects
Owners: @johnonolan

🔥 Remove all the Ghost source stuff
  src/components/common/NavBar.js
  src/components/common/search/Search.js
  src/components/faq/FAQLink.js
  src/components/faq/FAQTagList.js
  src/components/faq/index.js
  src/components/integrations/IntegrationBox.js
  src/components/integrations/IntegrationsContent.js
  src/components/integrations/IntegrationsTagList.js
  src/components/integrations/index.js
  src/components/integrations/integration-search/IntegrationIndex.js
  src/components/integrations/integration-search/IntegrationResults.js
  src/components/integrations/integration-search/IntegrationSearchBox.js
  src/components/integrations/integration-search/index.js
  src/components/tutorials/TutorialCard.js
  src/components/tutorials/index.js
  src/images/bg-integrations.svg
  src/images/integration-icon.png
  src/pages/faq.js
  src/pages/integrations.js
  src/pages/tutorials.js
  src/styles/custom.css
  src/templates/ghost/faq-archive.js
  src/templates/ghost/faq.js
  src/templates/ghost/integration-archive.js
  src/templates/ghost/integration.js
  src/templates/ghost/tutorial-archive.js
  src/templates/ghost/tutorial.js
  src/utils/page-queries.js
  static/images/meta/Ghost-FAQ.jpg
  static/images/meta/Ghost-Integrations.jpg
  static/images/meta/Ghost-Tutorials.jpg
  utils/algolia-queries.js
  utils/query-config.js
Owners: @aileencgn, @johnonolan, @peterzimon

🔥 Remove Ghost source
  gatsby-config.js
  gatsby-node.js
  gatsby/createPages.js
Owners: @aileencgn

🔗 Home is somewhere else now 😃
  src/components/common/NavBar.js
  src/components/common/layout/Footer.js
  src/pages/404.js
  static/_redirects
Owners: @aileencgn, @johnonolan

FFS links
  src/components/common/NavBar.js
  src/components/common/layout/Footer.js
  src/pages/404.js
Owners: @aileencgn

🔗 Update links to faq, integrations, and tutorials
  content/concepts/contributing.md
  content/concepts/core.md
  content/concepts/ecosystem.md
  content/concepts/features.md
  content/concepts/hosting.md
  content/install/local.md
  content/install/source.md
  content/install/ubuntu.md
  src/components/home/HomeHeader.js
  src/pages/index.js
  test/algolia-transforms.test.js
  test/fixtures/install-source.html
  test/fixtures/minimal-example.html
Owners: @kymellis, @johnonolan, @aileencgn

Increase priority of new redirs
  static/_redirects
Owners: @johnonolan

Better explain image compression
  content/concepts/config.md
Owners: @kymellis, @johnonolan

.github/CODEOWNERS:

*           @johnonolan
/content/   @kymellis @johnonolan
*.css       @peterzimon @johnonolan
*.js        @aileencgn
