Repository TryGhost/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @johnonolan, @kymellis, @peterzimon, @aileencgn

Dynamically generate tag lists
  src/components/layouts/partials/faq-taglist.js
  src/components/layouts/partials/integrations-taglist.js
  src/utils/page-queries.js
  src/utils/tag-utils.js
Owners: @aileencgn

Integrations breadcrumbs
  src/templates/integration.js
Owners: @aileencgn

Exclude current post from related posts 🙈
  gatsby-node.js
Owners: @aileencgn

✨Integrations (#16)
  gatsby-config.js
  gatsby-node.js
  package.json
  src/components/css/custom.css
  src/components/css/post-content.css
  src/components/global/related-posts.js
  src/components/integration-search/integration-results.js
  src/components/integration-search/integration-searchbox.js
  src/components/integration-search/integration.js
  src/components/integration.js
  src/components/integrations-content.js
  src/components/layouts/partials/faq-taglist.js
  src/components/layouts/partials/integrations-header.js
  src/components/layouts/partials/integrations-taglist.js
  src/components/layouts/partials/meta-data.js
  src/components/layouts/partials/meta/article-meta-ghost.js
  src/components/layouts/partials/navbar.js
  src/components/layouts/partials/toc.js
  src/pages/faq.js
  src/pages/index.js
  src/pages/integrations.js
  src/temp/integrations.js
  src/templates/doc-navigation-toc.js
  src/templates/integration.js
  src/templates/tags-integration.js
  src/utils/algolia-queries.js
  src/utils/node-queries.js
  src/utils/page-queries.js
  src/utils/query-config.js
  src/utils/tag-utils.js
  yarn.lock
Owners: @aileencgn, @johnonolan, @peterzimon

Shuffle main nav
  src/components/layouts/partials/navbar.js
Owners: @aileencgn

Fixed search toggle bug
  src/components/integrations-content.js
Owners: @aileencgn

Fix broken links
  src/pages/index.js
Owners: @aileencgn

Try reCAPTCHA again
  src/components/global/feedback-form.js
Owners: @aileencgn

Dynamically created prev and next links for all sidebars
  src/templates/doc-navigation-toc.js
Owners: @aileencgn

Dynamically created prev and next links for all sidebars (#26)
  src/templates/doc-navigation-toc.js
Owners: @aileencgn

Try visible reCAPTCHA
  src/components/global/feedback-form.js
Owners: @aileencgn

Use the right env variables
  src/components/global/feedback-form.js
Owners: @aileencgn

Log process env var
  src/components/global/feedback-form.js
Owners: @aileencgn

OS variables in Netlify 🤮
  src/components/global/feedback-form.js
Owners: @aileencgn

The most painful try and error process in history
  src/components/global/feedback-form.js
Owners: @aileencgn

Remove logs
  src/components/global/feedback-form.js
Owners: @aileencgn

So...much...waiting...
  src/components/global/feedback-form.js
Owners: @aileencgn

get recaptcha value somehow
  src/components/global/feedback-form.js
Owners: @aileencgn

Update search modal integration label style
  src/components/css/custom.css
  src/components/search.js
Owners: @peterzimon, @johnonolan, @aileencgn

Integration design refinements
  src/components/global/related-posts.js
  src/components/integration-search/integration-searchbox.js
  src/components/integration.js
  src/pages/index.js
  src/templates/integration.js
Owners: @aileencgn

Integration page refinements
  src/components/css/post-content.css
  src/templates/integration.js
Owners: @peterzimon, @johnonolan, @aileencgn

Added cloning command for Ghost-Admin
  content/install/source.md
Owners: @kymellis, @johnonolan

Integrations mobile sizes
  src/components/css/custom.css
  src/components/integration-search/integration-searchbox.js
  src/components/integrations-content.js
  src/components/layouts/partials/navbar.js
  src/templates/integration.js
Owners: @peterzimon, @johnonolan, @aileencgn

Removing temp. design guidelines from docs (#25)
  content/design/components.md
  content/design/page-templates.md
  content/design/styling.md
  content/design/typography.md
Owners: @kymellis, @johnonolan

Meta data refinement
  src/pages/setup.js
Owners: @aileencgn

Disable reCAPTCHA completely
  src/components/global/feedback-form.js
Owners: @aileencgn

Commenting it out is not enough? Revert to pre reCAPTCHA state
  src/components/global/feedback-form.js
Owners: @aileencgn

Rename feedback form to try to Netlify cache
  src/components/global/feedback-form.js
Owners: @aileencgn

Correct hover states on integrations
  src/components/css/custom.css
  src/components/integration.js
Owners: @peterzimon, @johnonolan, @aileencgn

reframe
  static/reframe.js
Owners: @aileencgn

Visible reCAPTCHA, take 1 🎬
  src/components/global/feedback-form.js
Owners: @aileencgn

Env variables in Netlify again
  src/components/global/feedback-form.js
Owners: @aileencgn

Fix integrations display issue
  src/components/integrations-content.js
Owners: @aileencgn

Let standalone <code> elements wrap incase they extend wider than the browser. Also some css linting
  src/components/css/post-content.css
Owners: @peterzimon, @johnonolan

Let standalone <code> elements wrap incase they extend wider than the browser. Also some css linting (#34)
  src/components/css/post-content.css
Owners: @peterzimon, @johnonolan

Add a minimum width to the article container to force reset on flex item widths
  src/templates/integration.js
Owners: @aileencgn

Add a minimum width to the article container to force reset on flex item widths (#35)
  src/templates/integration.js
Owners: @aileencgn

latest wip / still broken
  src/components/global/feedback-form.js
Owners: @aileencgn

Abstract external script loader class
  gatsby-browser.js
  src/templates/doc-navigation-toc.js
  src/templates/faq.js
  src/templates/integration.js
  src/templates/standalone-post.js
Owners: @aileencgn

Replace feedback form with type form
  src/components/global/feedback-form.js
Owners: @aileencgn

.github/CODEOWNERS:

*           @johnonolan
/content/   @kymellis @johnonolan
*.css       @peterzimon @johnonolan
*.js        @aileencgn
