Repository TryGhost/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @johnonolan, @kymellis, @peterzimon, @aileencgn

.github/CODEOWNERS:

*           @johnonolan
/content/   @kymellis @johnonolan
*.css       @peterzimon @johnonolan
*.js        @aileencgn

↩️ Redirect `/concepts` to `/concepts/introduction`
  static/_redirects
Owners: @johnonolan

↩️ Moved favicon to `/static` and redirect `.ico`->`.png`
  gatsby-config.js
  static/_redirects
  static/favicon.png
Owners: @aileencgn, @johnonolan

↩️ Redirect `/concepts` on build within Gatsby
  gatsby-node.js
Owners: @aileencgn

⬆️ Changed integrations tags archive posts to ascending order
  src/templates/tags-integration.js
Owners: @aileencgn

Cleanup redirects
  static/_redirects
Owners: @johnonolan

Add missing editor help redirect
  static/_redirects
Owners: @johnonolan

Correct tag archive limits
  src/templates/tags-faq.js
  src/templates/tags-integration.js
  src/templates/tags-tutorials.js
Owners: @aileencgn

Base Cloudinary integration
  src/components/global/related-posts.js
  src/components/integration.js
  src/pages/index.js
  src/templates/integration.js
Owners: @aileencgn

Fix typo
  content/concepts/front-end.md
Owners: @kymellis, @johnonolan

Add missing redirect
  static/_redirects
Owners: @johnonolan

Add missing redirect
  static/_redirects
Owners: @johnonolan

Add missing redirects
  static/_redirects
Owners: @johnonolan

Fix odd text alignment for integration on index page
  src/pages/index.js
Owners: @aileencgn

Fix odd text alignment for integration on index page (#38)
  src/pages/index.js
Owners: @aileencgn

🏗️ Make `meta-data` self-contained component
  src/components/layouts/partials/meta/index.js
  src/components/layouts/partials/meta/meta-data.js
  src/pages/api.js
  src/pages/faq.js
  src/pages/index.js
  src/pages/integrations.js
  src/pages/setup.js
  src/pages/tutorials.js
  src/templates/doc-navigation-toc.js
  src/templates/faq.js
  src/templates/integration.js
  src/templates/standalone-post.js
  src/templates/tags-faq.js
  src/templates/tags-integration.js
  src/templates/tags-tutorials.js
Owners: @aileencgn

🚚 Moved meta components up to `/components` level
  src/components/meta/article-meta-ghost.js
  src/components/meta/article-meta-md.js
  src/components/meta/image-meta.js
  src/components/meta/index.js
  src/components/meta/meta-data.js
  src/components/meta/website-meta.js
  src/pages/api.js
  src/pages/faq.js
  src/pages/index.js
  src/pages/integrations.js
  src/pages/setup.js
  src/pages/tutorials.js
  src/templates/doc-navigation-toc.js
  src/templates/faq.js
  src/templates/integration.js
  src/templates/standalone-post.js
  src/templates/tags-faq.js
  src/templates/tags-integration.js
  src/templates/tags-tutorials.js
Owners: @aileencgn

🚚 Renamed SEO feature images
  src/components/meta/article-meta-md.js
  static/images/meta/Ghost Docs.jpg
  static/images/meta/Ghost FAQ.jpg
  static/images/meta/Ghost Integrations.jpg
  static/images/meta/Ghost Tutorials.jpg
Owners: @aileencgn, @johnonolan

🔍 Default SEO feature image for Markdown posts
  src/components/meta/article-meta-md.js
Owners: @aileencgn

🍱 Added SEO feature images
  static/images/meta/faq.jpg
  static/images/meta/ghost-docs.jpg
  static/images/meta/integrations.jpg
  static/images/meta/tutorials.jpg
Owners: @johnonolan

💩 First pass on meta image URL util
  src/components/meta/article-meta-md.js
  src/pages/api.js
  src/pages/faq.js
  src/pages/index.js
  src/pages/integrations.js
  src/pages/setup.js
  src/pages/tutorials.js
  src/templates/faq.js
  src/utils/getMetaImageUrls.js
Owners: @aileencgn

🎨 Added `section` property to page context
  gatsby-node.js
Owners: @aileencgn

🔍 SEO images for Ghost posts and tags archives
  src/components/meta/article-meta-ghost.js
  src/components/meta/meta-data.js
  src/pages/faq.js
  src/templates/doc-navigation-toc.js
  src/templates/faq.js
  src/templates/integration.js
  src/templates/standalone-post.js
  src/templates/tags-faq.js
  src/templates/tags-integration.js
  src/templates/tags-tutorials.js
Owners: @aileencgn

🔍 ImageObjects for Ghost posts and Website meta
  src/components/meta/article-meta-ghost.js
  src/components/meta/website-meta.js
Owners: @aileencgn

🔍 Fixed image sizes for open graph
  src/components/meta/image-meta.js
Owners: @aileencgn

💡 Added some comments
  src/pages/faq.js
  src/templates/standalone-post.js
Owners: @aileencgn

🎨 Rename variables
  src/components/meta/image-meta.js
  src/utils/getMetaImageUrls.js
Owners: @aileencgn

🚚 Renamed feature images to be separated by `-`
  src/utils/getMetaImageUrls.js
  static/images/meta/Ghost-Docs.jpg
  static/images/meta/Ghost-FAQ.jpg
  static/images/meta/Ghost-Integrations.jpg
  static/images/meta/Ghost-Tutorials.jpg
Owners: @aileencgn, @johnonolan

🔍 Default SEO feature image for Markdown posts
  src/components/meta/article-meta-md.js
Owners: @aileencgn

🔍 ImageObjects for Ghost posts and Website meta
  src/components/meta/article-meta-ghost.js
  src/components/meta/website-meta.js
Owners: @aileencgn

🍱 Added SEO feature images
  static/images/meta/faq.jpg
  static/images/meta/ghost-docs.jpg
  static/images/meta/integrations.jpg
  static/images/meta/tutorials.jpg
Owners: @johnonolan

💡 Added some comments
  src/pages/faq.js
  src/templates/standalone-post.js
Owners: @aileencgn

🚚 Renamed feature images to be separated by `-`
  src/utils/getMetaImageUrls.js
  static/images/meta/Ghost-Docs.jpg
  static/images/meta/Ghost-FAQ.jpg
  static/images/meta/Ghost-Integrations.jpg
  static/images/meta/Ghost-Tutorials.jpg
Owners: @aileencgn, @johnonolan

🏗️ Make `meta-data` self-contained component
  src/components/layouts/partials/meta/index.js
  src/components/layouts/partials/meta/meta-data.js
  src/pages/api.js
  src/pages/faq.js
  src/pages/index.js
  src/pages/integrations.js
  src/pages/setup.js
  src/pages/tutorials.js
  src/templates/doc-navigation-toc.js
  src/templates/faq.js
  src/templates/integration.js
  src/templates/standalone-post.js
  src/templates/tags-faq.js
  src/templates/tags-integration.js
  src/templates/tags-tutorials.js
Owners: @aileencgn

🔍 Fixed image sizes for open graph
  src/components/meta/image-meta.js
Owners: @aileencgn

🔍 SEO images for Ghost posts and tags archives
  src/components/meta/article-meta-ghost.js
  src/components/meta/meta-data.js
  src/pages/faq.js
  src/templates/doc-navigation-toc.js
  src/templates/faq.js
  src/templates/integration.js
  src/templates/standalone-post.js
  src/templates/tags-faq.js
  src/templates/tags-integration.js
  src/templates/tags-tutorials.js
Owners: @aileencgn

🚚 Renamed SEO feature images
  src/components/meta/article-meta-md.js
  static/images/meta/Ghost Docs.jpg
  static/images/meta/Ghost FAQ.jpg
  static/images/meta/Ghost Integrations.jpg
  static/images/meta/Ghost Tutorials.jpg
Owners: @aileencgn, @johnonolan

🎨 Rename variables
  src/components/meta/image-meta.js
  src/utils/getMetaImageUrls.js
Owners: @aileencgn

💩 First pass on meta image URL util
  src/components/meta/article-meta-md.js
  src/pages/api.js
  src/pages/faq.js
  src/pages/index.js
  src/pages/integrations.js
  src/pages/setup.js
  src/pages/tutorials.js
  src/templates/faq.js
  src/utils/getMetaImageUrls.js
Owners: @aileencgn

🚚 Moved meta components up to `/components` level
  src/components/meta/article-meta-ghost.js
  src/components/meta/article-meta-md.js
  src/components/meta/image-meta.js
  src/components/meta/index.js
  src/components/meta/meta-data.js
  src/components/meta/website-meta.js
  src/pages/api.js
  src/pages/faq.js
  src/pages/index.js
  src/pages/integrations.js
  src/pages/setup.js
  src/pages/tutorials.js
  src/templates/doc-navigation-toc.js
  src/templates/faq.js
  src/templates/integration.js
  src/templates/standalone-post.js
  src/templates/tags-faq.js
  src/templates/tags-integration.js
  src/templates/tags-tutorials.js
Owners: @aileencgn

🎨 Added `section` property to page context
  gatsby-node.js
Owners: @aileencgn
