Repository TryGhost/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @johnonolan, @kymellis, @peterzimon, @aileencgn

⬇️ Removed bluebird and switched to native Promise.all
  gatsby/createPages.js
  package.json
Owners: @aileencgn, @johnonolan

Swap {{lang}} -> {{@site.lang}}
  src/data/sidebars/handlebars.yaml
  static/_redirects
Owners: @johnonolan

Makes gatsby files more readable and structured (#84)
  gatsby-browser.js
  gatsby-node.js
  gatsby-ssr.js
  gatsby/createPages.js
  gatsby/onCreateNode.js
  gatsby/onPreRouteUpdate.js
  gatsby/onRenderBody.js
  gatsby/onRouteUpdate.js
  package.json
Owners: @aileencgn, @johnonolan

Swap {{lang}} -> {{@site.lang}} (#89)
  src/data/sidebars/handlebars.yaml
  static/_redirects
Owners: @johnonolan

Update styles
  src/templates/markdown/post.js
Owners: @aileencgn

🎉 Added first version of creating GitHub links
  src/templates/markdown/post.js
  src/utils/page-queries.js
Owners: @aileencgn

✨ Added pencil icon and first styled version of edit link
  src/images/icons/pencil.svg
  src/templates/markdown/post.js
Owners: @johnonolan, @aileencgn

✨ Created GitHub links from absolute file paths
  src/templates/markdown/post.js
Owners: @aileencgn

💄 Show GitHub link only on large viewports
  src/templates/markdown/post.js
Owners: @aileencgn

✨ Edit on GitHub link for Markdown files (#86)
  src/images/icons/pencil.svg
  src/templates/markdown/post.js
  src/utils/page-queries.js
Owners: @johnonolan, @aileencgn

Removed admin api redirect
  gatsby/createPages.js
  static/_redirects
Owners: @aileencgn, @johnonolan

New admin api sidebar
  src/data/sidebars/admin-api.yaml
Owners: @johnonolan

restructuring
  src/data/sidebars/admin-api.yaml
  src/data/sidebars/javascript.yaml
Owners: @johnonolan

API Client Lib & SDK updates
  src/data/sidebars/content-api.yaml
  src/data/sidebars/javascript.yaml
  src/pages/api.js
  static/_redirects
Owners: @johnonolan, @aileencgn

Removed admin api redirect
  gatsby/createPages.js
  static/_redirects
Owners: @aileencgn, @johnonolan

➕ Added gatsby advanced sitemap plugin
  gatsby-config.js
  package.json
  yarn.lock
Owners: @aileencgn, @johnonolan

Updating key image
  static/images/apikey.png
Owners: @johnonolan

⬆️ Update sitemap plugin to 1.0.1 and remove old plugin
  gatsby-config.js
  package.json
  yarn.lock
Owners: @aileencgn, @johnonolan

⬆️ Update gatsby-plugin-advanced-sitemap to 1.0.2
  gatsby-config.js
  package.json
  yarn.lock
Owners: @aileencgn, @johnonolan

➕Added gatsby-plugin-advanced-sitemap and removed old sitemap plugin (#92)
  gatsby-config.js
  package.json
  yarn.lock
Owners: @aileencgn, @johnonolan

Initial Admin API SDK & Reference docs
  gatsby/createPages.js
  static/_redirects
  static/images/apikey.png
Owners: @aileencgn, @johnonolan

Update storage-adapters.md
  content/concepts/storage-adapters.md
Owners: @kymellis, @johnonolan

Fixed minor typo
  content/concepts/vulnerabilities.md
Owners: @kymellis, @johnonolan

Fixed minor type
  content/concepts/principles.md
Owners: @kymellis, @johnonolan

Fixed minor typo (#95)
  content/concepts/principles.md
  content/concepts/vulnerabilities.md
Owners: @kymellis, @johnonolan

Update storage-adapters.md (#94)
  content/concepts/storage-adapters.md
Owners: @kymellis, @johnonolan

Update redirects
  static/_redirects
Owners: @johnonolan

Disable feedback form
  src/templates/markdown/post.js
Owners: @aileencgn

Adding code tabs styles
  src/styles/custom.css
Owners: @peterzimon, @johnonolan

Refined code tab styles
  src/styles/custom.css
Owners: @peterzimon, @johnonolan

Touching things I shouldn't
  src/styles/custom.css
Owners: @peterzimon, @johnonolan

Added remark embed snippet plugin
  gatsby-config.js
  package.json
  yarn.lock
Owners: @aileencgn, @johnonolan

🚨 Fixed inting error
  src/templates/markdown/post.js
Owners: @aileencgn

⬆️ Updated dependencies
  package.json
  yarn.lock
Owners: @johnonolan

⬆️ Updated dev dependencies
  .eslintrc.js
  package.json
  yarn.lock
Owners: @aileencgn, @johnonolan

Added 'canonical_url' field to post resource
  content/concepts/posts.md
Owners: @kymellis, @johnonolan

Added 'canonical_url' field to post resource (#97)
  content/concepts/posts.md
Owners: @kymellis, @johnonolan

Changing to correct restart method
  content/concepts/config.md
Owners: @kymellis, @johnonolan

Changing to correct restart method (#98)
  content/concepts/config.md
Owners: @kymellis, @johnonolan

Initial API redirects
  static/_redirects
Owners: @johnonolan

.github/CODEOWNERS:

*           @johnonolan
/content/   @kymellis @johnonolan
*.css       @peterzimon @johnonolan
*.js        @aileencgn
